.p-blog {

}

.p-blog__inner {
  padding: 0 rem(20) 0 rem(20);

  @include mq('tab') {
    max-width: rem(1140);
    width: 100%;
    margin: 0 auto;
  }
}

.p-blog__title {
  position: relative;
  letter-spacing: rem(2);

  @include mq('tab') {
    letter-spacing: rem(0.5);
  }
}

.p-blog__title span {
  @include mq('tab') {
    left: 78%;
    top: rem(-60);
    transform: translateX(0);
  }
}

.p-blog__flex {
  display: flex;
  justify-content: space-between;
}

.p-blog__cards {
  margin-top: rem(63);
  position: relative;
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;

  @include mq('tab') {
    margin-top: rem(34);
    max-width: $l-inner;
  }
}

.p-blog__cards::after {
  position: absolute;
  content:"New";
  left: rem(-16);
  top: rem(-17);
  background: #FFBA6A;
  width: rem(60);
  height: rem(60);
  color: #333;
  font-size: rem(16);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: rem(2);
  max-width: rem(600);

  @include mq('tab') {
    top: rem(-16);
    left: rem(-15);
  }
}

.p-blog__button {
  margin-top: rem(25);
  display: flex;
  justify-content: center;
  text-align: center;

  @include mq('tab') {
    display: flex;
    justify-content: center;
    margin-top: rem(49);
  }
}

.p-blog__button-swipe {
  background-color: #333;
  overflow: hidden;
  position: relative;
  background-color:#333;
  font-size: rem(20);
  z-index: 1;
  transition: .3s;

  @include mq('tab') {
    font-size: rem(16);
  }
}

.p-blog__button-swipe::before {
  content:"";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
  background-color: #fff;
  display: block;
}

.p-blog__button-swipe:hover {
  color: #333;
}

.p-blog__button-swipe:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}