.p-works {
}


.p-works__inner {
}

.p-works__contents {
  margin: rem(47) auto 0;

  @include mq('tab') {
    background: linear-gradient( 90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
    width: 100%;
    padding: rem(80) 7.03% rem(82);
    margin: rem(34) auto 0;
  }
}

.p-works__body {
  width: 100%;
  margin: 0 auto;

  @include mq('tab') {
    display: flex;
    align-items: center;
    max-width: $l-inner;
    position: relative;
  }
}

.p-works__slider {
  position: relative;
  width: 100%;
  @include mq('tab') {
    width: 50.63%;
  }
}

.p-works__title {
  width: 100%;
  position: relative;

  @include mq('tab') {
    max-width: rem(1280);
    margin: 0 auto;
  }
}

.p-works__title span {
  @include mq('tab') {
    left: 66%;
    top: rem(-52);
    transform: translateX(0);
  }
}

.p-works__picture {
  @include mq('tab') {
    position: relative;
    width: 100%;
  }
}

.p-works__picture::before {
  content:"";
  display: block;
  padding-top: 69.83%;
}

.p-works__picture img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.p-works__content {
  margin-top: rem(-47);
  padding: rem(24) rem(20) rem(21);
  background-color: #333;

  @include mq('tab') {
    background-color: transparent;
    padding: 0;
    width: 46.36%;
    margin-left: 2.5%;
    margin-top: rem(-3);
  }
}

.p-works__main-title {
  font-size: rem(20);
  letter-spacing: rem(2);
  margin-left: rem(19);
  text-align: center;

  @include mq('tab') {
    font-size: rem(25);
    letter-spacing: rem(0.5);
    text-align: left;
    margin-left: rem(5);
    margin-top: rem(-6);
  }
}

.p-works__text {
  font-size: rem(16);
  letter-spacing: rem(2);
  margin-top: rem(23);
  line-height: rem(23.17);

  @include mq('tab') {
    letter-spacing: rem(0.5);
    line-height: 2.1875;
    margin-top: rem(36);
    margin-left: rem(4);
  }
}

.p-works__button-more {
  justify-content: center;
  margin-top: rem(25);
  text-align: center;
  flex: 100%;
  display: flex;

  @include mq('tab') {
    margin-top: rem(48);
    justify-content: start;
    margin-left: rem(5);
  }
}

.p-works__button-swipe {
  background-color: #333;
  font-size: rem(20);
  color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
  transition: .3s;
  z-index: 1;
  
  @include mq('tab') {
    font-size: rem(16);
  }
}

.p-works__button-swipe::before {
  @include mq('tab') {
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
    background-color: #fff;
    display: block;
  }
}

.p-works__button-swipe:hover {
  @include mq('tab') {
    color: #333;
  }
}

.p-works__button-swipe:hover::before {
  @include mq('tab') {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}