.l-breadcrumbs {
  width: 100%;
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(20);
  margin-top: rem(12);

  @include mq('tab') {
    max-width: rem(1280);
    padding-left: rem(90);
  }
}