.c-contact-email {

}

.c-contact-email__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 2px solid #fff;
	border-radius: 0;
	color: #333;
	font-family: inherit;
	font-size: rem(14);
	padding: rem(11) rem(8) rem(9) rem(8);
	width: 100%;

  @include mq('tab') {
    width: rem(540);
    padding: rem(8) rem(8) rem(7) rem(15);
  }
}

.c-contact-email__text::placeholder {
  font-size: rem(14);
  letter-spacing: rem(0.7);
  line-height: rem(25.9);
}

.c-contact-email__text:focus {
	border: 2px solid #FFEA2E;
	box-shadow: none;
	outline: none;
}

.c-contact-email__text:required {
  background-color: #FFDCDC;
}