.c-card {
  max-width: rem(600);
  position: relative;
  margin: 0 auto;
  width: 100%;

  @include mq('tab') {
    max-width: rem(350);
  }
}

.c-card:hover .c-card__body {
  background-color: #333;
  transition:background-color 0.5s;
  color: #fff;
}

.c-card:hover .c-card__group {
  color: #333;
}

.c-card__img {

}

.c-card__body {
  background: #fff;
  color: #333;
  padding: rem(4) rem(23) rem(16) rem(21);
  font-size: rem(0);

  @include mq('tab') {
  padding: rem(4) rem(23) rem(15) rem(24);
  }
}

.c-card__title {
  font-size: rem(18);
  letter-spacing: rem(1);
  font-weight: 500;
  line-height: rem(35);
}

.c-card__text {
  font-size: rem(14);
  letter-spacing: rem(1);
  line-height: 1.85;
  margin-top: rem(2);
  line-height: rem(26);
  margin-left: rem(1);

  @include mq('tab') {
    margin-top: rem(5);
    margin-left: 0;
  }
}

.blog__flex {
  display: flex;
  justify-content: space-between;
}

.c-card__group {
  font-size: rem(14);
  letter-spacing: rem(1);
  background: #FFEA2E;
  display: inline-block;
  margin-top: rem(8);
  line-height: rem(24);
  padding: 0 rem(2) 0 rem(5);
  margin-left: rem(1);

  @include mq('tab') {
    margin-top: rem(11);
    line-height: rem(26);
    padding: 0 rem(5) 0 rem(5);
    margin-left: 0;
  }
}

.c-card__time {
  font-size: rem(14);
  letter-spacing: rem(1);
  margin-top: rem(10);

  @include mq('tab') {
    margin-top: rem(13);
  }
}

.c-card__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:"";
  background-color: transparent;
}