.c-contact-textarea {
  height: rem(250);
  overflow-y: scroll;
	-ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none; 

  @include mq('tab') {
    height: rem(300);
  }
}

.c-contact-textarea::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.c-contact-textarea__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 2px solid #fff;
	border-radius: 0;
	height: rem(250);
	color: #333;
	font-family: inherit;
	font-size: rem(14);
	padding: rem(15) rem(7);
	width: 100%;
	
  @include mq('tab') {
		height: rem(300);
    width: rem(540);
    padding: rem(6) rem(15) rem(6) rem(15);
  }
}

.c-contact-textarea__text::placeholder {
  font-size: rem(14);
  letter-spacing: rem(0.7);
  line-height: rem(25.9);
}

.c-contact-textarea__text:focus {
	border: 2px solid #FFEA2E;
	box-shadow: none;
	outline: none;
}

