.c-section-header {

}

.c-section-header__title {
  text-align: center;
  font-weight: 400;
  font-size: rem(20);
  position: relative;
  letter-spacing: rem(2);

  @include mq('tab') {
    font-size: rem(30);
    letter-spacing: rem(0.5);
  }
}

.c-section-header__subtitle {
  display: block;
  text-align: center;
  color: #F9F871;
  opacity: .27;
  font-size: rem(50);
  font-family: $font-family-sub;
  position: absolute;
  top: rem(-50);
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: rem(2);

  @include mq('tab') {
    font-size: rem(110);
  }
}